.divSelectedNumber {
    width: 100%;
    height: 20svh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.divNumber {
    width: 90px;
    height: 90px;
    border-radius: var(--b-br-round);
    background-color: var(--b-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.divNumber > p {
   font-size: 2.5em;
}

@media screen and (max-width: 299px) { 
    .divSelectedNumber {
        height: 10svh;
    }
    
    .divNumber {
        width: 55px;
        height: 55px;
    }

    .divNumber > p {
        font-size: 1.5em;
     }
}

@media screen and (min-width: 300px) and (max-width: 489px) { 
    .divSelectedNumber {
        height: 15svh;
    }
    
    .divNumber {
        width: 70px;
        height: 70px;
    }
    
}

