.divAllNumbers {
    width: 100%;
    height: 430svh;
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    grid-template-rows:  repeat(auto-fit, 80px);;
    gap: 20px;
    justify-content: space-evenly;
    padding: 0 var(--b-padding-m);
}

.divnumber {
    width: 100%;
    height: 100%;
    border-radius: var(--b-br-round);
    background-color: var(--b-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.divnumber > p {
    font-size: 1.5em;
}

.divAllNumbers > .selected {
   background-color: var(--b-highlight-color-ligth);
}


@media screen and (min-width: 240px) and (max-width: 319px) {
    .divAllNumbers {
        height: 712svh;
    }
}

@media screen and (min-width: 320px) and (max-width: 419px) {
    .divAllNumbers {
        height: 475svh;
    }
}


@media screen and (min-width: 420px) and (max-width: 519px) {
    .divAllNumbers {
        height: 370svh;
    }
}

@media screen and (max-width: 299px) { 
    .divAllNumbers {
        height: 80svh;
        grid-template-columns: repeat(auto-fit, 22px);
        grid-template-rows:  repeat(auto-fit, 22px);;
        gap: 8px;
        justify-content: space-evenly;
        padding: 0 var(--b-padding-m);
    }

    .divnumber > p {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 300px) and (max-width: 489px) {
    .divAllNumbers {
        height: 75svh;
        grid-template-columns: repeat(auto-fit, 28px);
        grid-template-rows:  repeat(auto-fit, 28px);;
        gap: 10px;
        justify-content: space-evenly;
        padding: 0 var(--b-padding-m);
    }

    .divnumber > p {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 490px) and (max-width: 579px) {
    .divAllNumbers {
        height: 70svh;
        grid-template-columns: repeat(auto-fit, 30px);
        grid-template-rows:  repeat(auto-fit, 30px);;
        gap: 18px;
        justify-content: space-evenly;
        padding: 0 var(--b-padding-m);
    }

    .divnumber > p {
        font-size: 0.9em;
    }
}


@media screen and (min-width: 580px) and (max-width: 849px) {
    .divAllNumbers {
        height: 70svh;
        grid-template-columns: repeat(auto-fit, 35px);
        grid-template-rows:  repeat(auto-fit, 35px);;
        gap: 18px;
        justify-content: space-evenly;
        padding: 0 var(--b-padding-m);
    }

    .divnumber > p {
        font-size: 1em;
    }
}

@media screen and (min-width: 850px) and (max-width: 1199px) {
    .divAllNumbers {
        height: 70svh;
        grid-template-columns: repeat(auto-fit, 45px);
        grid-template-rows:  repeat(auto-fit, 45px);;
        gap: 18px;
    }
    
    .divnumber > p {
        font-size: 1em;
    }
}

@media screen and (min-width: 1200px) {

    .divAllNumbers {
        width: 90%;
        margin: auto;
        height: 70svh;
        grid-template-columns: repeat(auto-fit, 50px);
        grid-template-rows:  repeat(auto-fit, 50px);
    }
}